@import "tailwindcss";
:root {
  --bg-color: #020118;
  --bg-color-2: #3834349d;
  --primary-color: #0d0d0d;
  --secondary-color: #fff;
  --text-color: #fff;
  --text-color-2: #40404090;
  --text-color-3: rgb(204, 0, 0);
  --text-color-4: rgb(210, 194, 194);
  --overlay-color: rgba(0, 0, 0, 0.42);
  --bg-color-3: #12d80bb0;
}

[data-theme="light"] {
  --bg-color: #ffffff;
  --bg-color-2: #ffffff;
  --primary-color: #ffffff;
  --secondary-color: #000;
  --text-color: #000;
  --text-color-2: #ffffff71;
  --text-color-3: rgb(204, 0, 0);
  --text-color-4: rgb(116, 95, 95);
  --overlay-color: rgba(255, 255, 255, 0.386);
  --bg-color-3: #12d80bb0;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}